@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --main-color: #5cd1e6;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

/*header*/

header {
  width: 100%;
  height: 15vh;
  background: var(--main-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

header h2 {
  margin-left: 2%;
  padding-left: 2%;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.logo img {
  border-radius: 50%;
}

.search-wrapper {
  border: 1px solid #fff;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

nav {
  margin: 0 2%;
  width: 20%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  color: #fff;
  transition: 0.5s;
}

.nav-links a:hover {
  background: #fff;
  color: var(--main-color);
  padding: 2.5%;
  border-radius: 5%;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.3s;
}

/*WELCOME*/
.welcome {
  padding-top: 15vh;
  width: 100%;
  height: 100vh;
  background-image: url("../images/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.welcome p {
  width: auto;
  height: auto;
  font-size: 5rem;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
}

.butthold {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  width: 40%;
}

.buttons a button {
  background: var(--main-color);
  color: #fff;
  border: none;
  padding: 5%;
  width: 100%;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.buttons a button:hover {
  background: var(--main-color);
}

/*main{
    margin-top: 10px;
    padding: 1.5rem;
}*/

#hostels {
  width: 100%;
  height: fit-content;
  padding-top: 15vh;
}

.hosteltable {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.houses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.rooms {
  width: 18%;
  height: 300px;
  padding: 10px;
  box-shadow: 0px 5px 15px -10px #000;
}

.rooms .image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.linkk {
  text-decoration: none;
}

.rooms .image div {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.rooms .image div:hover {
  opacity: 30%;
  cursor: pointer;
}

.rooms .writings {
  width: 100%;
  height: 30%;
  text-align: center;
}

.tit {
  padding-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.back {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.back a {
  margin-right: 2%;
  transition: 0.5s;
}

footer {
  background: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

/* ratings */

.ratings {
  width: 100%;
  padding: 0px 100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ratings h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.ratings .wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.ratings .wrapper .tile {
  width: 300px;
  height: 250px;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 0 10px 20px -15px #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ratings .wrapper .tile h3 {
  margin-bottom: 10px;
}

.ratings .wrapper .tile p {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

.ratings .wrapper .tile .stars i {
  color: goldenrod;
  font-size: 18px;
}

/* hostelpopup */

.hostel-popup {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.hostel-popup form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hostel-popup form .pic-field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hostel-popup form .pic-field .picture {
  width: 350px;
  height: 200px;
  background-color: #333;
  margin-bottom: 10px;
  position: relative;
}

.hostel-popup form .pic-field .picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.hostel-popup form .pic-field .picture label {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  cursor: cell;
}

.hostel-popup form .field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.hostel-popup form .field label,
.hostel-popup form label.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
}

.hostel-popup form .type-field {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.hostel-popup form .type-field input {
  position: relative;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  width: 48%;
}

.hostel-popup form .type-field select {
  width: 48%;
}

.hostel-popup form .field input {
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
}
