@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #5cd1e6;
  --text-grey: #8390a2;
  --color-dark: #1d2231;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: auto;
  width: 100%;
  background-color: #fff;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}